name = "rr7-better-auth"
main = "./workers/app.ts"

compatibility_date = "2025-04-04"
compatibility_flags = [
  "nodejs_compat",
  "nodejs_compat_populate_process_env",
]

[assets]
  directory = "./build/client/"

[observability]
  enabled = true

[[kv_namespaces]]
binding = "APP_KV"
id = "app_kv_id"
preview_id = "app_kv_preview_id"

[[d1_databases]]
binding = "DB"
database_name = "rr7-better-auth"
database_id = "d1_db_id"
preview_database_id = "d1_db_preview_id"
migrations_dir = "drizzle"

[[r2_buckets]]
bucket_name = "rr7-better-auth"
binding = "R2"

[vars]
ENVIRONMENT = "development"
BETTER_AUTH_SECRET = "3ebc25b381e87193f29ffea6b6d380dd"
BETTER_AUTH_URL = "http://localhost:5173"
GITHUB_CLIENT_ID = "..."
GITHUB_CLIENT_SECRET = "..."
GOOGLE_CLIENT_ID = "..."
GOOGLE_CLIENT_SECRET = "..."
