name = "rr7-better-auth"
main = "./workers/app.ts"

compatibility_date = "2025-04-04"
compatibility_flags = [
  "nodejs_compat",
  "nodejs_compat_populate_process_env",
]

workers_dev = false
preview_urls = false

[assets]
  directory = "./build/client/"

[observability]
  enabled = true

[[d1_databases]]
binding = "DB"
database_name = "vix"
database_id = "b54ebca2-ad37-4239-a3ce-1f2e9cd7e6ff"
preview_database_id = "d1_db_preview_id"
migrations_dir = "drizzle"

[vars]
ENVIRONMENT = "production"
BETTER_AUTH_SECRET = "3ebc25b381e87193f29ffea6b6d380dd"
BETTER_AUTH_URL = "http://localhost:5173"
GITHUB_CLIENT_ID = "..."
GITHUB_CLIENT_SECRET = "..."
GOOGLE_CLIENT_ID = "..."
GOOGLE_CLIENT_SECRET = "..."

[build]
command = "npm run build"
upload = { format = "service-worker" }

pages_build_output_dir = "build/client"
